.home {
  background-color: #27292a;
  margin: 30px;
  border-radius: 25px;
  padding: 20px;
}

.banner {
  background-image: url("https://templatemo.com/templates/templatemo_579_cyborg_gaming/assets/images/banner-bg.jpg");
  background-position: center center;
  background-size: cover;
  min-height: 380px;
  border-radius: 23px;
  padding: 60px;
  position: relative;
  display: flex;
  align-items: center;
}

.text {
  color: #fff;
  font-weight: 400;
  max-width: 500px;
}

.text h6 {
  font-size: 25px;
  margin-bottom: 15px;
}

.text h4 {
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.text h4 span {
  color: #e75e8d;
}

.browse {
  font-size: 14px;
  background-color: #e75e8d;
  padding: 12px 30px;

  border-radius: 25px;
  font-weight: 400;
  transition: all .3s;
  text-decoration: none;
  color: #fff;
  border: none;

}

.browse:hover {
  background-color: #c94c75;
}


/* hero section */

.hero{
 background-color: #1f2122;
 border-radius: 20px;


h4 {
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 25px;
  padding: 10px;
  
& span{
  color: #c94c75;
 text-decoration: none;
}
}

.ratings{
  display: flex;
  justify-content: space-between;
}

}


  